body{
  background-color:#e1f1ff;
  background-image:url('../img/bg_parte_superiore.jpg');
  background-attachment:fixed;
  background-repeat:repeat-x;
  margin-top:0;
  margin-bottom:0;
}
#sfondo_header{
  background-repeat:no-repeat;
  background-image:url('../img/occhio_spirale.png');
  position:absolute;
  width:1000px;
  height:366px;
  left:-46px;
  margin-top:-20px
}
#testo_header{
  width:910px;
  position:relative;
  margin-top:20px;
  left:0%;
  cursor:pointer;
  text-align:right;
}
#titolo{
  font-family: 'Reenie Beanie', arial, serif;
  font-size:70px;
  position:relative;
  top:0px;
}
#sottotitolo{
  font-family:arial;
  font-size:18px;
  width:170px;
  font-style:italic;
  position:relative;
  top:35px;
  left:70%;
}
#content_all{
  position:relative;
  margin-top:-15px;
  margin:0 auto;
  width:900px;
  z-index:1;
}
#titolo_pagina_corrente{
  width:209px;
  height:35px;
}
.titolo_pagina_corrente{
  width:233px;
  height:36px;
}
#testo_pagina_corrente{
  margin-top:10px;
  padding-bottom:70px;
  width:860px;
  font-family:Verdana;
  font-size:12px;
  line-height:22px;
  text-align:justify;
}
div#testo_pagina_corrente td{
  padding-right:5px;
}
#sc_image{
  position:relative;
  top:0px;
  left:355px;
  width:219px;
  height:79px;
  background-image:url('../img/sc_image.png');
}
#content_box_news{
  position:absolute;
  top:150px;
  left:145px
}
#bottom_menubar{
  padding-top:20px;
  font:12px arial;
}
#contenuto{
  width:880px;
  position:relative;
  background-color:white;
  /*background-image:url('../img/bg.png');*/
  left:-10px;
  top:15px;
  padding-top:30px;
  padding-left:40px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);
  z-index:-1;
}
#bottom{
  width:900px;
  height:90px;
  position:relative;
  margin-top:5px;
}
.box_news{
  width:271px;
  height:178px;
  background-image:url(../img/box_news.png);
}
#box_news_immagini{
  position:absolute;
  left:468px;
  top:386px;
}
#box_news_video{
  position:absolute;
  left:468px;
  top:570px;
}
.titolo_box_news{
  position:absolute;
  margin-top:10px;
  font-family: 'Reenie Beanie', arial, serif;
  font-size:28px;
  margin-top:10px;
  margin-left:65px;
}
#wiki_thumbnail{
  width:220px;
  background-color:#F7F7F7;
  border:1px solid #888888;
  padding:3px;
  text-align:center;
}
#content_galleria{
  width:500px;
  margin:0 auto;
  padding:5px;
  background-color:#f5f5f5;
  display:none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}
#close_album{
  z-index: 2;
  position: absolute;
  top: 82px;
  left: 701px;
  display:none;
  width:20px;
  height:20px;
  background-image:url('../img/close.gif');
  background-repeat:no-repeat;
  cursor:pointer
}
.content_phoset{
  width:188px;
  height:191px;
  cursor:pointer;
}
td.content_phoset img{
  width:177px;
  height:120px;
}
.set{
  float:left;
  width:415px;
  height:200px;
  padding-right:15px;
  padding-top:40px;
}
.set_video{
  float:left;
  width:345px;
  height:200px;
  padding-right:15px;
  padding-top:40px;
}
.bg_set{
  background:url('../img/istantanea.png') no-repeat scroll 0 0 transparent;
  width:202px;
  height:211px;
  z-index:1;
  overflow:hidden;
  cursor:pointer;
}
.bg_set_video{
  background:url('../img/rullino_ciak.png') no-repeat scroll 0 0 transparent;
  width:232px;
  height:212px;
  z-index:1;
  overflow:hidden;
}
.thumbnail_content{
  z-index:-1;
  position:relative;
  left:20px;
  top:-191px;
}
.thumbnail{
  width:171px;
  height:146px;
}
/***  FabClearing ***/
.cleared:after {
  display: block;
  visibility: hidden;
  content: " ";
  height: 0;
  clear: both;
}
.cleared {
  clear: both; /* per Gecko */
  height: 1%; /* per IE */
}
.nome_album{
  cursor:pointer;
  position: relative;
  z-index: 2;
  top: -193px;
  left: 16px;
  width: 170px;
  text-align: center;
  font-family:'Reenie Beanie', arial, serif;
  font-weight:bold;
  font-size:20pt;
}
.nome_video{
  position: relative;
  z-index: 2;
  top: -236px;
  left: 10px;
  width: 105px;
  text-align: center;
  font-family:'Reenie Beanie', arial, serif;
  font-weight:bold;
  font-size:12pt;
  color:white;
  -moz-transform:rotate(-15deg);
  -webkit-transform:rotate(-15deg);
  -o-transform:rotate(-15deg);
  -ms-transform:rotate(-15deg);
}
.info_photoset{
  cursor:pointer;
  position:relative;
  z-index:2;
  top:-215px;
  left:174px;
  width:16px;
  height:16px;
}

/*overlay*/
/* the overlayed element */
.apple_overlay .black{
	/* initially overlay is hidden */
	display:none;
	/* growing background image */
	background-image:url(http://static.flowplayer.org/tools/img/overlay/transparent.png);
	/*
		width after the growing animation finishes
		height is automatically calculated
	*/
	width:300px;
	/* some padding to layout nested elements nicely  */
	padding:35px;
	/* a little styling */
	font-size:11px;
  z-index:10000;
}
/* default close button positioned on upper right corner */
.apple_overlay .close {
	background-image:url(../img/apple-close.png);
	position:absolute; right:5px; top:5px;
	cursor:pointer;
	height:28px;
	width:28px;
}
div.apple_overlay h2 {
  margin:10px 0 -9px 0;
  font-weight:bold;
  font-size:14px;
}

/*Form Contatti*/
input.testo_input{
  border:0px;
  font-family:Verdana;
  width:297px;
  height:37px;
  font-size:10pt;
  padding-left:10px;
  color:#999999;
}
.input_text{
  background:none repeat scroll 0 0;
  -webkit-border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
  width:310px;
  height:40px;
  border:2px solid #D1F1FF;
  padding-bottom:1px;
  padding-top:1px;
  padding-left:3px;
  margin-bottom:15px;
}
.input_text td{
  padding-left:10px;
}
.info_contatti{
  font-weight:bold;
}
.testo_messaggio{
  width:300px;
  height:100px;
  border:none;
  resize:none;
  font-size:10pt;
  font-family:Verdana;
  padding-left:10px;
  padding-top:1px;
  color:#999999;
}
.submit {
	border: 1px solid #AAA;
	padding: 4px;
	margin-top: 20px;
	float: right;
	text-decoration: none;
	cursor: pointer;
}

.label_contatti{
  font-weight:bold;
}
input.button{
  border:none;
  -webkit-border-radius: 35px 35px 35px 35px;
  -moz-border-radius: 35px 35px 35px 35px;
  border-radius: 35px 35px 35px 35px;
  cursor:pointer;
  width:80px;
  height:30px;
  -webkit-box-shadow: 1px 2px 3px ;
  -moz-box-shadow: 1px 2px 3px ;
  box-shadow: 1px 2px 3px ;
  margin-left:10px;
  margin-top:20px;
}
.logo_contatti{
  
}
.input_itinerario{
  width:260px;
  height:25px;
  padding-left:10px;
  border:none;
  -webkit-border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
}
.label_itinerario{
  font-size:14pt;
  font-family: 'The Girl Next Door', arial, serif;
}
#dati_provenienza tr{
  margin-bottom:10px;
}

#printed{
  display:none;
}


