body{
    background: #FFFFFF;
    width:800px;
    margin-left:12%;
    margin-top:0;
    margin-bottom:0;
}
#header{
    width:800px;
    height:369px;
    background-image:url(../img/header.png);
    overflow:hidden;
}
.frase{
    position:relative;
    font-family:Lucida Bright;
    font-size:10pt;
    font-style:italic;
    left:210px;
    top:150px;
}
#contenuto{
    width:800px;
    position:relative;
    background:url(../img/contenuto.png) repeat-y;
}
#bottom{
    background-image:url(../img/bottom.png);
    width:800px;
    height:91px;
    position:relative;
}
.box_news{
    width:271px;
    height:178px;
    background-image:url(../img/box_news.png);
}
#box_news_immagini{
    position:absolute;
    left:468px;
    top:386px;
}
#box_news_video{
    position:absolute;
    left:468px;
    top:570px;
}
.titolo_box_news{
    position:absolute;
    margin-top:10px;
    font-family: 'Reenie Beanie', arial, serif;
    font-size:28px;
    margin-top:10px;
    margin-left:65px;
}