#slideshow {
    position:relative;
    width:894px;
    height:300px;
    top:30px;
    left:0px;
    overflow:hidden;
    border:3px solid #4181c0;
    z-index:1;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);

}
#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
    width:894px;
    height:301px;
}
#slideshow IMG.active {
    z-index:10;
    opacity:1.0;
}
#slideshow IMG.last-active {
    z-index:9;
}